@mixin set_prompt($screen_color, $content_color, $btn_color, $padding, $prompt_main_color, $border_radius) {
    width: 0;
    height: 0;
    .alert_box {
        width: 0;
        height: 0;
        overflow: hidden;
    }
    &.open {
        position: fixed;
        display: flex;
        height: 100vh;
        width: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba($color: $screen_color, $alpha: 0.3);
    }
    .alert_box.open {
        position: relative;
        box-sizing: border-box;
        width: 400px;
        height: 300px;
        background-color: $prompt_main_color;
        margin: auto;
        padding: 0.5 * $padding $padding $padding $padding;
        border-radius: $border_radius;
        h2 {
            text-align: center;
            color: $content_color;
            overflow: hidden;
            padding: 0;
            font-size: 16px;
            margin-bottom: $padding;
        }
        p {
            display: block;
            height: 10em;
            color: $prompt_main_color;
            background-color: $content_color;
            padding: 10px 8px;
            margin-bottom: $padding;
            border-radius: $border_radius;
            overflow: hidden;
            box-shadow: inset 0 0 8px 8px rgba(0, 0, 0, 0.3);
        }
        button {
            display: block;
            height: 2em;
            width: 4em;
            background: $prompt_main_color;
            color: $btn_color;
            border-radius: 2px;
            border: 1px solid $btn_color;
            overflow: hidden;
            outline: none;
        }
        & button:nth-of-type(1) {
            position: absolute;
            left: 2 * $padding;
            bottom: 1.5 * $padding;
        }
        & button:nth-of-type(2) {
            position: absolute;
            right: 2 * $padding;
            bottom: 1.5 * $padding;
        }
        button.active {
            background: $btn_color;
            overflow: hidden;
            color: $prompt_main_color;
        }
        button:hover {
            background: $btn_color;
            overflow: hidden;
            color: $prompt_main_color;
        }
        @media screen and (max-width:768px) {
            margin: auto 1em;
        }
    }
}