@import '../../main';
.pie {
    width: 60px;
    height: 60px;
    $value: 3/5;
    line-height: 60px;
    @include creat-pie(#333, $value*100);
    span {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        text-align: center;
        vertical-align: middle;
        z-index: 2;
    }
}