@import '../../main';
/* CSS Document */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    outline-style: none;
    /*FF*/
}

body {
    line-height: 1;
}

a {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

a:hover,
a:focus {
    text-decoration: none;
    /*IE*/
    outline-style: none;
    /*FF*/
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input,
select {
    vertical-align: middle;
}

/*css为clearfix，清除浮动*/

.clearfix::before,
.clearfix::after {
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
    /*IE/7/6*/
}

#set {
    display: none;
}

.art1 {
    //              line-height  align   padding  margin 
    $table_base_tr: 1.5em left (1em 0) (0);
    $table_base_td: 1.5em left (1em 0.5em) (0);
    $table_base_th: 1.5em left (1em 0.5em) (0);
    $table_base: ( tr: $table_base_tr, td:$table_base_td, th: $table_base_th, );
    @include creat_table($table_base); //
    //@include set_init(1);
    //设置是否有标题空隙
    @include set_title_space(1em); //设置格线
    $table_title_line: 1px solid #666;
    $table_content_line: 1px solid #ddd;
    $table_out_line: 1px solid #000;
    @include set_x_title_line($table_title_line, 2);
    @include set_y_title_line($table_title_line, 1); //
    // @include set_x_content_line($table_content_line, 1);
    // @include set_y_content_line($table_content_line, 1);
    // @include set_x_out_line($table_out_line); //
    // @include set_y_out_line($table_out_line);
    //设置颜色
    $table_title_bgcolor: (#fff #000 #aaf #00d);
    $table_content_x_bgcolor: (#fff rgba(0, 0, 0, .2) #fff rgba(0, 0, 0, .3));
    $table_content_y_bgcolor: (#fff rgba(0, 0, 0, .2) #fff rgba(0, 0, 0, .3));
    $table_content_x_y_bgcolor: (#000 #fff #fff #000); // @include set_x_title_bgcolor($table_title_bgcolor);//
    // @include set_y_title_bgcolor($table_title_bgcolor);//
    // @include set_x_content_bgcolor($table_content_x_bgcolor);//
    // @include set_y_content_bgcolor($table_content_y_bgcolor);//
    // @include set_x_y_content_bgcolor($table_content_x_y_bgcolor);//
}