* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@mixin set_card( $btn_height, $padding_left_right, $bor_left_width, $body_form, $border_left_color, $cfb_g_cl, $border_radius) {
    & {
        display: block;
        width: 100%;
        border-radius: $border_radius;
        border: 2px solid #ccc;
        border-left-width: $bor_left_width;
        border-left-color: $border_left_color;
        padding: 0 $padding_left_right;
    }
    &::after {
        content: ' ';
        clear: both;
        display: block;
        visibility: hidden;
        height: 0;
    }
    .card-head {
        float: left;
        display: block;
        line-height: 1.5;
        border-bottom: 1px solid #ccc;
        .card-head-left {
            overflow: hidden;
            width: (nth($body_form, 1) / (nth($body_form, 1) + nth($body_form, 2))) * 100%;
        }
        .card-head-right {
            overflow: hidden;
            width: (nth($body_form, 2) / (nth($body_form, 1) + nth($body_form, 2))) * 100%;
        }
    }
    .card-body {
        float: left;
        width: 100%;
    }
    .card-body-left {
        overflow: hidden;
        width: (nth($body_form, 1) / (nth($body_form, 1) + nth($body_form, 2))) * 100%;
    }
    .card-body-right {
        overflow: hidden;
        width: (nth($body_form, 2) / (nth($body_form, 1) + nth($body_form, 2))) * 100%;
    }
    .card-foot {
        float: left;
        margin-bottom: -#{$btn_height};
    }

}