@font-face {
    font-family: 'consola';
    src: url('src/consola-simple.woff') format('woff'), url('src/consola-simple.otf') format('truetype');
}

@mixin creat_financial_number($font_size,
$font_color,
$number_bg,
$bg_color) {
    color: $font_color;
    padding-left: 1em;
    font-size: $font_size;
    overflow: hidden;
    width: 9em;
    line-height: 2;
    background-color: $bg_color;
    &::before {
        content: '￥';
        margin-left: -1em;
        position: absolute;
        opacity: .5;
    }
    & span:first-child {
        background-repeat: repeat-x;
        background-size: 1em;
        font-family: 'consola';
        background-image: url($number_bg);
        letter-spacing: $font_size - 0.5498 * $font_size - 0.00071;
        opacity: 1;
        position: relative;
        padding-left: 0.25em;
        width: 7em;
    }
    & span {
        float: left;
        opacity: .5;
        line-height: 2;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}