<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>card-project</title>
    <link rel="stylesheet" href="_main.css">
</head>

<body>
    <div class="crius-card-list">
        <!-- 克瑞斯卡片 -->
        <div class="card">
            <div class="card-head">
                <div class="card-item">
                    <div class="text"></div>
                </div>
                <div class="card-item inverse">1544</div>
                <div class="card-item">56446</div>
            </div>
            <div class="card-body">
                <div class="card-page">
                </div>
                <div class="card-page">23566</div>
                <div class="card-page">23566</div>
            </div>
            <div class="card-foot">
                <div class="card-item inverse">4155413</div>
                <div class="card-item inverse">4155413</div>
                <div class="card-item inverse">4155413</div>
            </div>
        </div>
        <div class="card-project active">
            <div class="card-head">
                <div class="card-item">23465</div>
                <div class="card-item inverse">312143</div>
                <div class="card-item">4641653</div>
            </div>
            <div class="card-body">
                <div class="card-page">
                    <div class="card-page-box">455</div>
                </div>
                <div class="card-page">52651</div>
                <div class="card-page">2130</div>
            </div>
            <div class="open-ctrl"></div>
            <div class="card-foot">
                <div class="card-item inverse">.16465</div>
                <div class="card-item inverse">463152</div>
                <div class="card-item inverse">564651</div>
            </div>
        </div>
        <div class="card-project">
            <div class="card-head">
                <div class="card-item">246561</div>
                <div class="card-item inverse">654651</div>
                <div class="card-item">654654</div>
            </div>
            <div class="card-body">
                <div class="card-page">
                    <div class="card-page-box">654654</div>
                </div>
                <div class="card-page">654654</div>
                <div class="card-page">654654</div>
            </div>
            <div class="card-foot">
                <div class="card-item inverse">654654</div>
                <div class="card-item inverse">654654</div>
                <div class="card-item inverse">654654</div>
            </div>
        </div>
    </div>
    <!-- 
            card-project状态[:hover, .active, default]
            card-item:[.inverse, default]
            card-page:[.active,.move-in,.move-out,default] 
            card-page-box:[.open,default]
        -->
</body>

</html>