@mixin set-font-style($line-height, $color1, $style) {
    @if($style==1) {
        & {
            line-height: $line-height;
        }
    }
    @if($style==2) {
        & {
            display: block;
            line-height: $line-height;
            color: $color1;
        }
    }
    @else if($style==3) {
        & {}
    }
}