* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.card-project {
  display: none;
  opacity: 0; }

.card {
  display: none;
  opacity: 0; }

input {
  float: left; }

.crius-card-list {
  height: 10em; }
  .crius-card-list .inverse {
    color: blue; }
  .crius-card-list .active {
    display: block;
    border-radius: 12px;
    border: 2px solid #ccc;
    border-left-width: 10px;
    border-left-color: #2ab648; }
    .crius-card-list .active .card-foot {
      border-bottom-right-radius: 12px;
      background: #2ab648; }
  .crius-card-list::after {
    content: ' ';
    clear: both;
    display: block;
    visibility: hidden;
    height: 0; }
  .crius-card-list .card-head {
    display: block;
    line-height: 1.5;
    border-bottom: 1px solid #ccc;
    color: #2ab648;
    overflow: hidden; }
    .crius-card-list .card-head .card-item {
      float: left; }
  .crius-card-list .card-body {
    display: block;
    padding: 1em;
    width: 100%;
    height: 9em;
    transition: height .3s ease; }
  .crius-card-list .card-foot {
    display: block;
    overflow: hidden; }
  .crius-card-list .active .card-head .inverse {
    background-color: #2ab648; }
  .crius-card-list .move-in {
    display: block;
    opacity: 0;
    transition: opacity .3s ease; }
  .crius-card-list .active {
    display: block;
    opacity: 1;
    transition: opacity .3s ease; }
  .crius-card-list .active .card-head .card-item:nth-of-type(1),
  .crius-card-list .active .card-body .card-item:nth-of-type(1),
  .crius-card-list .active .card-foot .card-item:nth-of-type(1) {
    width: 33.3333333333%;
    left: 0; }
  .crius-card-list .active .card-head .card-page:nth-of-type(1),
  .crius-card-list .active .card-body .card-page:nth-of-type(1),
  .crius-card-list .active .card-foot .card-page:nth-of-type(1) {
    width: 33.3333333333%; }
  .crius-card-list .active .card-head .card-item:nth-of-type(2),
  .crius-card-list .active .card-body .card-item:nth-of-type(2),
  .crius-card-list .active .card-foot .card-item:nth-of-type(2) {
    width: 33.3333333333%;
    left: 0; }
  .crius-card-list .active .card-head .card-page:nth-of-type(2),
  .crius-card-list .active .card-body .card-page:nth-of-type(2),
  .crius-card-list .active .card-foot .card-page:nth-of-type(2) {
    width: 33.3333333333%; }
  .crius-card-list .active .card-head .card-item:nth-of-type(3),
  .crius-card-list .active .card-body .card-item:nth-of-type(3),
  .crius-card-list .active .card-foot .card-item:nth-of-type(3) {
    width: 33.3333333333%;
    left: 0; }
  .crius-card-list .active .card-head .card-page:nth-of-type(3),
  .crius-card-list .active .card-body .card-page:nth-of-type(3),
  .crius-card-list .active .card-foot .card-page:nth-of-type(3) {
    width: 33.3333333333%; }
  .crius-card-list .active .card-body {
    position: relative; }
  .crius-card-list .card-page {
    border: none;
    opacity: 0; }
  .crius-card-list .card-page.active {
    display: block;
    opacity: 1;
    transition: opacity .3s ease; }
  .crius-card-list .active .card-body .card-page {
    position: absolute; }
  .crius-card-list .card-foot .card-item {
    float: left; }
  .crius-card-list .card-foot .active {
    border: none;
    position: relative;
    transition: border .3s ease; }
  .crius-card-list .open {
    transition: height .3s ease;
    height: 20em; }
    .crius-card-list .open .card-foot {
      height: 0; }
    .crius-card-list .open .card-body .card-page {
      position: inherit; }
    .crius-card-list .open .open-ctrl {
      background-image: url(openline.svg);
      background-repeat: no-repeat; }
  .crius-card-list .card-foot .active::before {
    position: absolute;
    content: ' ';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid red;
    left: 50%;
    margin-left: -10px;
    margin-top: -4px; }
  .crius-card-list .card-foot .active::after {
    position: absolute;
    content: ' ';
    bottom: 0;
    width: 10em;
    left: 50%;
    margin-left: -5em;
    height: 4px;
    background-color: #fff; }
  .crius-card-list .open-ctrl {
    height: 1em;
    background-image: url(closeline.svg);
    background-repeat: no-repeat;
    background-position: center; }

.input_list {
  position: fixed;
  bottom: 10em; }

/*# sourceMappingURL=card.css.map */
