@import '../../main';
@import '../../font_style';
@import '../../date';
input {
    float: left;
}

.crius-card-list {
    @include set_card( 10px, #2c4086, 10px);
    @include set_active((1, 1, 1), 22em, 8em);
}

.input_list {
    position: fixed;
    bottom: 4em;
}

.date—style {
    @include set-date(14px, #000, #000)
}