@import '../../main';
input {
    float: left;
}

.crius-card-list {
    @include set_card( 10px, #2ab648, #3addd5, 12px);
    @include set_active((1, 1, 1), 10em);
}

.input_list {
    position: fixed;
    bottom: 10em;
}